{{ form_start(form) }}

    <div class="form-group adduser" id="name">
        {{ form_row(form.username) }}
    </div>

    <div class="form-group adduser" id="emailadd">
        {{ form_row(form.email) }}
    </div>

    <div class="form-group adduser" id="nomchaine">
        {{ form_row(form.nomChaine) }} 
    </div>

    <div class="form-group adduser">
        {{ form_row(form.roleUser) }}
    </div>
{{ form_end(form) }}